<nav class="navbar navbar-expand navbar-dark px-2" id="bla">
    <div class="side-nav-button p-2 me-3 text-light" (click)="SidebarToggle()">
        <i class="fa-solid fa-bars"></i>
    </div>
    
    <a class="navbar-brand px-4" href="#">UDAAN</a>
    <div class="navbar-collapse">
        <ul class="navbar-nav me-auto">

            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#" routerLink="/home">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#" routerLink="/viewflight">Book Ticket</a>
            </li>

            <li class="nav-item">
                <a class="nav-link"  aria-current="page" href="#" routerLink="/checkin">Check-In</a>
            </li>
            
        </ul>
    </div>
   
   

   
</nav>