<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Udaan Airlines - Registered Successfully</title>
</head>
<body>
<h1>Registered Successfully</h1>
<h2>Udaan Airlines</h2>
<marquee>Fly high</marquee>
<p th:text="${'Thank you for choosing with Udaan Airlines.'}"></p>
<!-- <p th:text="${payment.name}"></p>
<p th:text="${payment.pnr}"></p>-->
<p><b>Explore the services more by logging  in now!</b></p>
</body>
</html>