.botton {
    text-align: center;
}

h3 { 
    text-align: center;
    color: rgb(24, 84, 84);
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgb(169, 193, 193);
}

.container {
    background: linear-gradient(rgba(178, 197, 197, 0.7),rgba(209, 225, 225, 0.9)),url('/assets/flight7.jpg');
    background-size: cover;
}