<div class="checkin">
    <div class="container">
        <h3>CHECK-IN</h3>
        <br>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="row">

                    <div class="col-md-12">
                        <label for="name">PNR</label>
                        <input type="text" class="form-control" placeholder="Udaan Id" required><br>
                    </div>

                    <div class="col-md-12">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" placeholder="Registered Name" required><br>
                    </div>

                    <div class="col-md-12">
                        <label for="name">Email</label>
                        <input type="text" class="form-control" placeholder="Registered Email" required><br>
                    </div>

                    <div class="botton">
                        <a id="btn" class="btn btn-primary btn-lg" [routerLink]="['/viewdetails']"
                            role="button">Check-In
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <h4>Travel advisory: Safety during COVID-19</h4>
                <br>
                <p>We seek your kind assistance to safeguard your well-being, as well as that of your
                    fellow passengers and our crew on board our flights, by following the guidelines set
                    out below:</p>

                <ul>
                    <li>All customers should wear a mask and sanitize their hands before proceeding
                        to the boarding gate.</li>
                    <li>Customers must wear a face mask covering their nose and mouth, throughout their
                        journey with IndiGo. The mask may be removed only while eating and drinking.</li>
                    <li>Please maintain appropriate social distancing while boarding and de-boarding the
                        aircraft.</li>
                    <li>Kindly adhere to all the announcements and other directives issued by our ground
                        staff and/or crew at all points of time during your journey.</li>
                    <li>Caution: Customers are advised to strictly follow all COVID-19 protocols.
                        Failure to comply with these guidelines and the directions of our ground staff
                        and/or crew may attract penal action against the concerned individual.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
