<div class="side-nav-content">

    <ul class="nav-list" [ngClass]="{'nav-list-open':sideNavStatus}">
        <li class="nav-list-item">
            <i class="fa-solid fa-house"></i>
            <span>
                <a href="#" routerLink="/home">Home</a>
            </span>
        </li>

        <li class="nav-list-item">
            <i class="fa-solid fa-user"></i>
            <span>
                <a href="#" routerLink="/registration">Sign Up</a>
            </span>
        </li>

        <li class="nav-list-item">
            <i class="fa-solid fa-right-to-bracket"></i>
            <span>
                <a href="#" routerLink="/login">Login</a>
            </span>
        </li>

        <li class="nav-list-item">
            <i class="fa-solid fa-ticket"></i>
            <span>
                <a href="#" routerLink="/viewflight">Book Ticket</a>
            </span>
        </li>

        <li class="nav-list-item">
            <i class="fa-solid fa-circle-check"></i>
            <span>
                <a href="#" routerLink="/checkin">Check-In</a>
            </span>
        </li>

        <li class="nav-list-item">
            <i class="fa-solid fa-ban"></i>
            <span>
                <a href="#" routerLink="/cancel">Cancel Ticket</a>
            </span>
        </li>

        <li class="nav-list-item">
            <i class="fa-solid fa-circle-info"></i>
            <span>
                <a href="#" routerLink="/about">About Us</a>
            </span>
        </li>

        <li class="nav-list-item">
            <i class="fa-solid fa-phone"></i>
            <span>
                <a href="#" routerLink="/contactus">Contact Us</a>
            </span>
        </li>
        <li class="nav-list-item">
            <i class="fa-solid fa-right-from-bracket"></i>
            <span>
                <a href="#" routerLink="/home">Log-out</a>
            </span>
        </li>

    </ul>
</div>