<div class="viewflight">
    <div class="banner">
        <h3>BOOK FLIGHT</h3><br>
        <table class="table table-hover">
            <tr class="bg text-white" id="btn">
                <td>FLIGHT ID</td>
                <td>SOURCE</td>
                <td>DESTINATION</td>
                <td>DEPARTURE TIME</td>
                <td>ARRIVAL TIME</td>
                <td>TIME OF TRAVEL</td>
                <td>FARE/SEAT</td>
                <td>OPERATIONS</td>
            </tr>
            <br>
            <tr *ngFor="let f of flight">
                <td>{{f.flight_id}}</td>
                <td>{{f.source}}</td>
                <td>{{f.destination}}</td>
                <td>{{f.departure_time}}</td>
                <td>{{f.arrival_time}}</td>
                <td>{{f.travel_time}}</td>
                <td>{{f.fare}}</td>
                <td>
                    <button id="info" class="btn btn-info" (click)="bookThisFlight(f.flight_id)">Book</button>
                </td>
            </tr>
        </table>
    </div>
</div>